.e-t{
    border: 1px solid none;
    padding: 7px;
    margin: 5px;
    border-radius: 13px;
    background: #e0e7ff;
    color: #4843ac;
}
.e-t2{
    border: 1px solid none;
    padding: 7px;
    margin: 5px;
    border-radius: 13px;
    color: #e11d48;
    background: #f1dddf;
}